name: Build Windows Code Sign

on:
  workflow_call:
    outputs:
      artifactName:
        description: "win-codesign artifacts"
        value: win-codesign-artifacts
        
jobs:
  win-codesign:
    runs-on: ${{ matrix.node }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        node: [windows-2025, macos-latest, ubuntu-latest]
    steps:
      - name: Enable Corepack for pnpm
        run: |
          corepack enable
      - name: Checkout code repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: true
      - name: Setup node
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version: '22'
      - name: Build win-codesign
        shell: bash
        run: |
          bash ./packages/win-codesign/build.sh
      - name: Archive artifacts
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4
        with:
          name: win-codesign-${{ matrix.node }}
          if-no-files-found: error
          retention-days: 1
          path: |
            ./packages/win-codesign