name: Build Windows Code Sign

on:
  workflow_call:
    outputs:
      artifactName:
        description: "win-codesign artifacts"
        value: win-codesign-artifacts

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, i386, arm64]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226
      - name: Enable Corepack for pnpm
        run: |
          corepack enable
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with: { node-version: "22" }
      - name: Install dependencies & build (${{ matrix.arch }})
        run: |
          pnpm i --frozen-lockfile
          PLATFORM_ARCH=${{ matrix.arch }} bash ./packages/win-codesign/build.sh
      - name: Upload win-codesign Linux artifact
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: win-codesign-linux-${{ matrix.arch }}
          path: ./packages/win-codesign/out/**/*.zip
          if-no-files-found: error
          retention-days: 1

  windows:
    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x64
            msystem: MINGW64
            mingw_prefix: mingw-w64-x86_64
            runner: windows-2025
          # - arch: arm64
          #   msystem: CLANGARM64
          #   mingw_prefix: mingw-w64-clang-aarch64
          #   runner: windows-10-arm

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with: { node-version: "22" }

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: true
          install: >-
            git
            make
            zip
            unzip
          pacboy: >-
            gcc:p
            cmake:p
            openssl:p
            curl:p
            libgsf:p
            zlib:p
            pkgconf:p
            nodejs:p 

      - name: Build osslsigncode (${{ matrix.arch }})
        run: |
          npm install -g corepack pnpm
          corepack enable
          pnpm i --frozen-lockfile
          PLATFORM_ARCH=${{ matrix.arch }} bash ./packages/win-codesign/build.sh

      - name: Upload artifact
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: win-codesign-windows-${{ matrix.arch }}
          path: ./packages/win-codesign/out/**/*.zip
          if-no-files-found: error
          retention-days: 1

  mac:
    runs-on: ${{ matrix.node }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            node: macos-15-intel
          - arch: arm64
            node: macos-15
    steps:
      - name: Enable Corepack for pnpm
        run: |
          corepack enable
        shell: bash
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with: { node-version: "22" }
      - name: Install grealpath
        run: brew install coreutils
      - name: Install dependencies
        run: pnpm i --frozen-lockfile
      - name: Build for macOS
        run: |
          PLATFORM_ARCH=${{ matrix.arch }} bash packages/win-codesign/build.sh
        shell: bash
      - name: Upload win-codesign macOS artifact
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: win-codesign-darwin-${{ matrix.arch }}
          path: ./packages/win-codesign/out/**/*.zip
          if-no-files-found: error
          retention-days: 1
