name: Download and archive RAN binaries

on:
  workflow_dispatch:
  workflow_call:
    outputs:
      artifactName:
        description: "ran artifacts"
        value: ran-artifacts

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Enable Corepack for pnpm
        run: |
          corepack enable
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with: { node-version: "22" }
      - name: Install dependencies & build
        run: |
          pnpm i --frozen-lockfile
          bash ./packages/ran/build.sh
      - name: Upload ran Linux artifact
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: ran-linux
          path: ./packages/ran/out/ran*.zip
          if-no-files-found: error
          retention-days: 1