name: Install and archive dmg-builder bundle

on:
  workflow_dispatch:
  workflow_call:

jobs:
  linux:
    runs-on: macos-latest
    timeout-minutes: 10
    steps:
      - name: Enable Corepack for pnpm
        run: |
          corepack enable
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with: { node-version: "22" }
      - name: Install dependencies & build
        run: |
          pnpm i --frozen-lockfile
          bash ./packages/dmg-builder/build.sh
      - name: Upload dmg-builder Linux artifact
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: dmg-builder-linux
          path: ./packages/dmg-builder/out/**/*.tar.gz
          if-no-files-found: error
          retention-days: 1