name: Build Windows Code Sign

on:
  workflow_call:
    outputs:
      artifactName:
        description: "win-codesign artifacts"
        value: win-codesign-artifacts
        
jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, x86_64, arm64/v8]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226
      - name: Enable Corepack for pnpm
        run: |
          corepack enable
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with: { node-version: '22' }
      - name: Install dependencies & build (${{ matrix.arch }})
        run: |
          pnpm i --frozen-lockfile
          PLATFORM_ARCH=${{ matrix.arch }} bash ./packages/win-codesign/build.sh
      - name: Upload FPM Linux artifact
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: win-codesign-linux-${{ matrix.arch }}
          path: packages/win-codesign/out
          if-no-files-found: error
          retention-days: 1

  mac:
    runs-on: ${{ matrix.node }}
    strategy:
      fail-fast: false
      matrix:
        node: [macos-15-intel, macos-15]
    steps:
      - name: Enable Corepack for pnpm
        run: |
          corepack enable
        shell: bash
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with: { node-version: '22' }
      - name: Install dependencies
        run: pnpm i --frozen-lockfile
      - name: Build for macOS
        run: |
          bash packages/win-codesign/build.sh
        shell: bash
      - name: Upload FPM macOS artifact
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: win-codesign-mac-${{ matrix.node }}
          path: packages/win-codesign/out
          if-no-files-found: error
          retention-days: 1