name: Build artifacts

on:
  push:
    branches: master
  pull_request:
  workflow_dispatch:
  workflow_call:
    outputs:
      artifactUrl:
        value: ${{ jobs.combine.outputs.artifactUrl }}
      artifactId:
        value: ${{ jobs.combine.outputs.artifactId }}

permissions:
  contents: read

jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set.outputs.matrix }}

    steps:
      - uses: actions/checkout@v4

      - id: set
        run: |
          git fetch origin ${{ github.base_ref }} --depth=1 || true

          PACKAGES=$(git diff --name-only origin/${{ github.base_ref }}...HEAD \
            | grep '^packages/' \
            | cut -d/ -f2 \
            | sort -u \
            | jq -R -s -c 'split("\n")[:-1]')

          echo "matrix=$PACKAGES" >> $GITHUB_OUTPUT

  
  fpm:
    if: contains(needs.detect.outputs.matrix, '"fpm"')
    uses: ./.github/workflows/build-fpm.yaml
    needs: detect

  win-codesign:
    if: contains(needs.detect.outputs.matrix, '"win-codesign"')
    uses: ./.github/workflows/build-wincodesign.yaml
    needs: detect
  
  appimage:
    if: contains(needs.detect.outputs.matrix, '"appimage"')
    uses: ./.github/workflows/build-appimage.yaml
    needs: detect
  
  ran:
    if: contains(needs.detect.outputs.matrix, '"ran"')
    uses: ./.github/workflows/build-ran.yaml
    needs: detect

  # squirrel:
  #   uses: ./.github/workflows/build-squirrel.yaml

  combine:
    runs-on: macos-latest
    needs: [
      fpm,
      win-codesign,
      appimage,
      ran,
      # squirrel
    ]
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      contains(needs.*.result, 'success')
      
    outputs:
      artifactUrl: ${{ steps.upload.outputs.artifact-url }}
      artifactId: ${{ steps.upload.outputs.artifact-id }}

    steps:
      
      - name: Enable Corepack for pnpm
        run: |
          corepack enable
        shell: bash

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with: { fetch-depth: 0 }

      - name: Setup Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with: { node-version: '22' }

      - name: Install tree via Homebrew
        run: brew install tree

      - name: Download all artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e
        with:
          path: out
          merge-multiple: true

      - name: Show artifact tree
        run: tree ./out

      - name: Compress artifacts
        run: sh ./scripts/compress-artifacts.sh

      - name: Validate artifact automation
        run: |
          pnpm i --frozen-lockfile
          tree ./artifacts-staging
          DRY_RUN=true node ./scripts/changeset-version.js

      - name: Upload combined artifacts
        id: upload
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: artifacts-staging
          path: artifacts-staging
          if-no-files-found: error
          retention-days: 1
